.main-banner {
    background-image: url("../images/contacts/contacts_bg.jpg");
}

.call-to-action {
    text-align: center;
    font-size: max(min(3.5vw, 30px), 22px);
    margin: max(min(3.5vw, 20px), 15px);
}

.info {
    width: 96%;
    margin: auto;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: "Open sans";
    margin-bottom: 20px;
}

.info p {
    align-content: center;
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: max(min(2.5vw, 22px), 18px);
}

.info a {
    color: #42321e;
    text-decoration: none;
    margin: auto;
}

.info a:visited {
    color: #42321e;
}

@media (max-aspect-ratio: 3/4), (min-resolution: 300dpi) and (orientation: portrait){
    .section {
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        display: flex;
        flex-direction: column;
    }
        
    .photo {
        width: 90%;
        max-height: none;
    }
    
    .description {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .redirect {
        text-align: center;
        font-size: max(min(1.5vw, 25px), 18px);
        border: 2px solid #42321e;
        border-radius: 5px;
        padding: 8px;
    } 
    .redirect:visited {
        color: #42321e;
    }
    .redirect:hover {
        border: 2px solid #42321e;
        animation: none;
        -webkit-animation: none;
    }
    .redirect:not(:hover) {
        border: 2px solid #42321e;
        animation: none;
        -webkit-animation: none;
    }
}

