#front-image{
    background: url("../images/homepage/homepage.jpg") no-repeat center center;
}

#logo {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30%;
}

.section-text a, .section-text a:visited {
    position: relative;
    text-decoration: none;
    font-size: min(30px, max(25px, 1.2vw));
    color: #000;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    transition: 350ms;
}

.section-text a:hover {
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.right h2 {
    text-align: left;
}

.left h2 {
    text-align: right;
}