.divider {
    border-top: 2px solid black;
    border-radius: 2px;
    width: 60%;
}

#business-info {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    gap: min(20px, max(10px, 2vw));
}

#info-logo {
    flex: 1;
    text-align: center;
}

#info-logo-img {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

#legal-info, #contacts-info {
    font-size: min(21px, max(18px, 1.2vw));
    flex: 3;
    margin: auto;
    text-align: center;
}

.social {
    position: relative;
    padding-left: min(20px, max(10px, 2vw));
    padding-right: min(20px, max(10px, 2vw));
}

.social-img {
    height: 30px;
    width: 30px;
}

#dev-info {
    text-align: center;
}

#dev-info p {
    font-size: min(15px, max(12px, 1.2vw));
}

@media (orientation: portrait) and (min-resolution: 200dpi) {
    .divider {
        width: 80%;
    }
    #business-info {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    #info-logo-img {
        width: 50%;
        top: 0;
        transform: translate(0, 0);
    }
    #legal-info, #contacts-info {
        font-size: min(55px, max(35px, 1.2vw));
    }
    .social-img {
        height: 100px;
        width: 100px;
    }
    #dev-info {
        position: relative;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #dev-info p {
        font-size: min(55px, max(30px, 1.2vw));
    }
}