#menu-page {
    width: 100vw;
    height: 0;
    overflow-y: hidden;
    background-color: #E9D3C0;
}

#menu-close {
    position: relative;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

#menu-close:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#menu-close-img {
    height: 100%;
    width: 100%;
}

#menu-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 80%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    gap: min(20px, max(10px, 2vh));
}

#menu-logo-container {
    flex: 1;
    text-align: center;
}

#menu-logo {
    position: relative;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

#menu-voices {
    position: relative;
    flex: 1;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    gap: min(20px, max(10px, 2vh));
    text-align: center;
}

.voice, .voice:visited {
    position: relative;
    left: 50%;
    padding: 0;
    width: 50%;
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: min(35px, max(25px, 1.5vw));
    color: #000;
    transform: translate(-50%, 0);
    transition: 350ms;
}

.voice:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;;
}

#menu-open {
    cursor: pointer;
}

@media (orientation: portrait) and (min-resolution: 200dpi) {
    #menu-close {
        border-radius: 15px;
        width: 150px;
        height: 150px;
    }
    #menu-container {
        height: 80%;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    #menu-voices {
        gap: min(50px, max(35px, 2vh));
    }
    .voice, .voice:visited {
        width: 100%;
        font-size: min(70px, max(55px, 1.5vw));
        border: 3px solid #000;
        border-radius: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}