.main-banner {
    position: relative;
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #b4aca2;
}

.top-bar {
    background-color: #dcd3c8;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 7vh;
    border-bottom: 4px solid #b4aca2;
}

.claim {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: max(min(3.5vw, 50px), 35px);
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #42321e;
    background-color: rgba(220, 211, 200, .8);
}

.top-bar a {
    float: left;
    color: #42321e;
    text-align: center;
    text-decoration: none;
}

.top-logo{
    content: url("../images/logo/logo_42321e_nobg_nowr.png");
    position: absolute;
    height: 80%;
    top:50%;
    transform: translate(0, -50%);
}

.top-bar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
}

.top-bar-right a {
    padding: 15px;
}
.top-bar-right a.language {
    padding: 8px;
}

.top-bar-right h1 {
    font-size: max(min(1.5vw, 25px), 18px);
    margin: 0 0;
}

.language {
    border: 2px solid transparent;
    border-radius: 5px;
}

.language:visited {
    color: #42321e;
}

.language:hover {
    border-color: #42321e;
    animation: fadeInBorder .5s;
    -webkit-animation: fadeInBorder .5s;
}
@keyframes fadeInBorder {
    0% {border: 2px solid transparent;}
    100% {border: 2px solid #42321e;}
}
@-webkit-keyframes fadeInBorder {
    0% {border: 2px solid transparent;}
    100% {border: 2px solid #42321e;}
}
.language:not(:hover) {
    border-color: transparent;
    animation: fadeOutBorder 1s;
    -webkit-animation: fadeOutBorder 1s;
}
@keyframes fadeOutBorder {
    0% {border: 2px solid #42321e;}
    100% {border: 2px solid transparent;}
}
@-webkit-keyframes fadeOutBorder {
    0% {border: 2px solid #42321e;}
    100% {border: 2px solid transparent;}
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 5px;
    height: 5px;
    margin: 3px 0;
    background-color: #42321e;
}

.hamburger:hover > .bar {
    width: 35px;
    animation: enlarge .5s;
    -webkit-animation: enlarge .5s;
}
@keyframes enlarge {
    0% {width: 5px;}
    100% {width: 35px;}
}
@-webkit-keyframes enlarge {
    0% {width: 5px;}
    100% {width: 35px;}
}
.hamburger:not(:hover) > .bar {
    width: 5px;
    animation: reduce 1s;
    -webkit-animation: reduce 1s;
}
@keyframes reduce {
    0% {width: 35px;}
    100% {width: 5px;}
}
@-webkit-keyframes reduce {
    0% {width: 35px;}
    100% {width: 5px;}
}

@media (max-aspect-ratio: 3/4), (min-resolution: 300dpi) and (orientation: portrait){
    .top-bar {
        width: 100%;
        height: 7vh;
        background-color: #DCD3C8;
        border-bottom: 4px solid #b4aca2;
        
        left: 0;
        right: 0;
        top: 0;
    }

    .top-logo{
        content: url("../images/logo/logo_42321e_nobg_nowr.png");
        position: absolute;
        height: 80%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .top-bar-right {
        right: 2%;
    }

    .top-bar a {
        color: #42321e;
    }

    .language h1 {
        color: #42321e;
    }

    .bar {
        background-color: #42321e;
        width: 35px;
    }
    .hamburger:hover > .bar {
        width: 35px;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }
    .hamburger:not(:hover) > .bar {
        width: 35px;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
        animation: none;
    }
}